﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DoctorReportImageUI.aspx.cs" Inherits="HealthCareWebApp.DoctorReportImageUI" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Report Details</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
 
    <style>
        #reportPic {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/tooplate-style.css">


</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>
               
    </div>
</section>



<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="loginUI.aspx" class="navbar-brand">P M <i class="fa fa-h-square"></i> System</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="DoctorUserHomeUI.aspx" class="smoothScroll">Home</a></li>
                <li><a href="PatientDetailsUI.aspx" class="smoothScroll">Back-To-List</a></li>
                

                <li class="appointment-btn"><a href="DoctorUserAccountUI.aspx">Account</a></li>
            </ul>
        </div>
    </div>
</section>


    <form id="form1" runat="server">
        <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                 
                <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Prescription Details</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                  
                                  <div class="col-md-12 col-sm-12">
                                      <label for="name">Report</label>
                                      <asp:TextBox ID="reportTextBox" class="form-control"  runat="server" ReadOnly="True"></asp:TextBox>

                                  </div>

                                  <div class="col-md-6 col-sm-6">
                                      <label for="name">Prescribed By</label>
                                      <asp:TextBox ID="prescribedByTextbox" class="form-control"  runat="server" ReadOnly="True"></asp:TextBox>

                                  </div>

                                
                                  
                                  <div class="col-md-12 col-sm-12">
                                      <asp:Image ID="reportPic" runat="server" />
                                  </div>


                              </div>

        </div>
        
                </div>
            </div>

        </section>
    </form>
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>